:root {
    --text-color: #343a40;
    --text-secondary-color: #6c757d;
    --text-link-color: #007bff;
    --background-color: #eaedf0;
    --secondary-background-color: #64ffda1a;
    --primary-color: #007bff;
    --secondary-color: #f8f9fa;
    --text-color-dark: #e4e6eb;
    --text-secondary-color-dark: #b0b3b8;
    --text-link-color-dark: #ffffff;
    --background-color-dark: #18191a;
    --secondary-background-color-dark: #212529;
    --primary-color-dark: #ffffff;
    --secondary-color-dark: #212529;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

html {
    background-color: var(--background-color) !important;
}

body::-webkit-scrollbar {
    height: 0;
    width: 8px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #b0b0b0;
    outline: 1px solid var(--background-color);
}

#search-content::-webkit-scrollbar {
    width: .5em;
    height: .1em;
    background-color: var(--background-color);
}