<p>
<div class="body-text">
                    <span>
                        My</span> career in technology has been a dynamic journey, evolving from web development to
    customer-centric roles where I've found my true passion. Allow me to share the highlights of this
    professional
    path.
</div>
<br>
<div class="body-text">
    <span>My</span> foundation was built in web development, where I honed my skills in both front-end
    and back-end technologies. I became proficient in crafting intuitive user interfaces using HTML,
    CSS, and JavaScript, while also
    developing robust server-side applications with Node.js and Express. My expertise extends to
    database management, including MongoDB and SQL, as well as cloud services such as AWS, Google Cloud
    Platform, and Cloudflare.
</div>
<br>
<div class="body-text">
    <span>This</span> technical background provided me with a comprehensive understanding of data flow,
    system architecture, and the critical importance of delivering seamless user experiences. However,
    the most transformative step
    in my career came when I transitioned into customer-facing technical roles, spanning both pre-sales
    and post-sales environments.

</div>
<br>
<div class="body-text">
    <span>In</span> these positions, I've had the privilege of serving some of the world's largest
    companies across various sectors, including retail, travel, and finance. My involvement spans the
    entire customer life-cycle, from initial
    proof of concept and on-boarding to driving adoption and nurturing customers into brand ambassadors.

</div>
<br>
<div class="body-text">
    <span>My</span> key strength lies in translating complex technical concepts into actionable
    insights, empowering clients to make informed, data-driven decisions that optimize their operations.
    I take pride in being a strong advocate
    for the customer, consistently building and maintaining lasting relationships.

</div>
<br>
<div class="body-text">
    <span>This</span> journey has reinforced my belief that technology is not just about innovative
    solutions, but about how these solutions can be leveraged to achieve tangible business goals. It's
    this intersection of technology
    and business impact that continues to drive my professional passion.
</div>
</p>