/* Define dark mode custom properties */
:root {
    --background-color: #333333;
    --secondary-background-color: #aaa;
    --text-color: #B4DFE5;
    --text-secondary-color: #303c6c;
    --text-link-color: #D2FDFF;
    --primary-color: #F4976C;
    --secondary-color: #FBE8A6;

}
/* dark mode */
#content {
    --background-color: var(--background-color) !important;
    --secondary-background-color: var(--background-color) !important;
    --text-color: var(--background-color) !important;
    --text-secondary-color: var(--background-color) !important;
    --text-link-color: var(--background-color) !important;
    --primary-color: var(--background-color);
    --secondary-color: var(--background-color);
}

.dark #footer-socialNetworks-github-svg-path{
    fill: #aaaaaa;
}

.text-secondary {
    color: var(--text-secondary-color-dark) !important;
}

#theme-toggle:focus {
    outline: 0;
}

#theme-toggle svg {
    height: 18px;
}

.btn {
    border: var(--background-color-dark);
}

button#theme-toggle {
    border: none;
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

body *::selection {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
}


:root {
    --background-color: var(--background-color-dark);
    --text-color: var( --text-color-dark);
    /* Add other variables as needed */
}

body.dark {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    /* Ensure these variables are defined in your config */
}